nextflow.enable.dsl = 2

params {
    samples = 'config/samples.tsv'
    outdir = 'results/automated_pipeline'

    reference_fasta = '/home/lauterw/refs/human_hg38_UCSC/hg38_priChr.fa'
    bwa_index_prefix = '/home/lauterw/refs/human_hg38_UCSC/hg38_priChr.fa'

    cnvkit_seq_method = 'wgs'
    cnvkit_annotate = '/home/lauterw/refs/human_hg38_UCSC/refFlat.txt'
    cnvkit_call_method = 'clonal'
    cnvkit_extra_batch_args = ''
}

process {
    executor = 'local'
    conda = 'env/qc_mapping_cnv.yaml'

    withName: FASTQC_RAW { cpus = 10 }
    withName: FASTP_TRIM { cpus = 30 }
    withName: FASTQC_TRIMMED { cpus = 10 }
    withName: BWA_MEM_MAP { cpus = 20 }
    withName: CNVKIT_BATCH { cpus = 20 }
}

profiles {
    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general_long'
        process.time = '72h'
        process.memory = '32 GB'
        conda.enabled = true
    }
}
