nextflow.enable.dsl = 2

params {
    samples = 'config/samples.tsv'
    outdir = 'results/automated_pipeline'

    reference_fasta = '/path/to/reference/genome.fa'
    bwa_index_prefix = ''

    cnvkit_seq_method = 'wgs'
    cnvkit_annotate = ''
    cnvkit_call_method = 'clonal'
    cnvkit_extra_batch_args = ''
}

process {
    executor = 'local'
    conda = 'env/qc_mapping_cnv.yaml'

    withName: FASTQC_RAW { cpus = 2 }
    withName: FASTP_TRIM { cpus = 8 }
    withName: FASTQC_TRIMMED { cpus = 2 }
    withName: BWA_MEM_MAP { cpus = 8 }
    withName: CNVKIT_BATCH { cpus = 8 }
}

profiles {
    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general_long'
        process.time = '72h'
        process.memory = '32 GB'
        conda.enabled = true
    }
}
